<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="Furnici,Ferma,Informatii,Quiz">
        <meta name="description" content="ANTS SHOP">
        <link rel="stylesheet" href="/resurse/CSS/contact.css" type="text/css"/>
      
        <title>Contact</title>
        
        <%- include("../fragmente/head") %>
    </head>
    
    <body>
    <%- include("../fragmente/header_nav") %>

        
        <main>
            <section>
                <h3>Contact</h3>
                <div class = "pagina">

                    <p>
                    Ne place să facem acest hobby accesibil și disponibil pentru toată lumea. 
                    Acordăm o mare valoare serviciului magazinului nostru. Deci, garantăm sosirea
                    în direct a furnicilor noastre și oferim o garanție suplimentară de 2 săptămâni 
                    pentru furnica regină. Acesta este cât de convinși suntem de coloniile de furnici pe care le crestem.
                    </p>
                    
                    <img src ="resurse\imagini\sediu.jpg" alt = "Ants Shop">
                    <img src ="resurse\imagini\shop.jpg" alt = "Ants Shop">
                    <img src ="resurse\imagini\mag.jpg" alt = "Ants Shop">

                    <p>Aici sunt mai mult de 10.000 de specii de furnici în lume, 
                        cu durate de viață cuprinse între câteva săptămâni și câțiva ani.
                        Deși aceste insecte sunt o specie socială fascinantă, sunt, 
                        de asemenea, un dăunător menajer periculos. Dacă lupți împotriva unei
                        infestări de furnici în casa sau curtea ta, acest sistem ușor de identificare 
                        te va ajuta să-ți dai seama cine sunt invadatorii tăi și ce ar trebui să faci în legătură cu ei.
                    </p>
    
                </div>
            </section>
            
            <%- include("../fragmente/footer") %>
        </main>

    </body>
</html>