<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="Furnici,Ferma,Informatii,Quiz">
        <meta name="description" content="ANTS SHOP">
      
        <title>Inregistrare</title>
        
        <%- include("../fragmente/head") %>
    </head>
    
    <body>
    <%- include("../fragmente/header_nav") %>

        
        <main>
            <section>
                <h3>Inregistrare</h3>
            </section>
            
            <%- include("../fragmente/footer") %>
        </main>

    </body>
</html>