<div id="foot">
    <footer>
        <section>
            <div class="gotop">
            <a href="#" title="mergi sus" id="link-top"><div id="sageata"></div></a>
            </div>
            <p></p>
            <address>Scris de:<b>Lupu Georgiana-Andreea</b> <br>Adresa de email:  
            <a href="mailto:sabrinafurnicuta@gmail.com">sabrinafurnicuta@gmail.com</a><br>Numar de telefon:  
            <a href="tel:0763945768">0763945768 </a>
            <p>Adresa:Strada Izvor,nr. 34, sector 4, Bucuresti</p>
            </address>  
        </section>
        <p><small>Copyright &copy;2020 Lupu Georgiana</small></p>
        <p>Creat <time datetime="2020-03-06 20:00">Vineri</time></p>
    </footer>
</div>